.mainArticle {
    width: 950px;
    /*Verificar futuramente.*/
}

.mainArticle>p {
    width: 864px;
    margin: 34px 0;
}

.navigationLinks,
.navigationLinks a {
    width: 116px;
    height: 20px;
    text-align: left;
    letter-spacing: 0px;
    color: #101010;
    margin-left: 0;
    text-decoration: none;
    margin-top: 24px;
    margin-bottom: 30px;
}

.navigationLinks>a {
    text-decoration: underline;
    font-size: 14px;
    font-family: 'poppins_regular';
}

.firstSpan {
    font-size: 18px;
    font-family: 'poppins_regular', sans-serif;
    width: 133px;
    height: 25px;
    letter-spacing: 0px;
    color: #139933;
    font-weight: bold;
    margin-bottom: 16px;
}

h1 {
    font-family: 'poppins_bold';
    margin-bottom: 16px;
}

h2 {
    height: 31px;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #101010;
    font-family: 'poppins_regular';
    margin-bottom: 24px;
}

.firstP {
    height: 23px;
    text-align: left;
    letter-spacing: 0px;
    color: #101010;
    font-size: 16px;
    font-weight: normal;
    font-family: 'poppins_regular';
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 60px;
}

.btnArticle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #0000001A;
    border: 1px solid #EFEFEF;
    border-radius: 31px;
    font-size: 16px;
    font-family: 'poppins_bold';
    margin-bottom: 24px;
}

/*testar aplicação do botão
.btnArticle>img {
    width: 12px;
    height: 14px;
}
*/

.firstBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 728px;
    height: 90px;
}

.normalParagraph {
    width: 864px;
    height: 191px;
    text-align: left;
    font: normal normal normal 22px 'poppins_regular';
    letter-spacing: 0.13px;
    color: #2E2E2E;
}

.mainImgArticle {
    margin-top: 24px;
}

.mainImgArticle {
    width: 864px;
    border-radius: 12px;
}

.mainImgArticle>figcaption {
    letter-spacing: 0px;
    color: #2E2E2E;
    font-size: 14px;
}

.spanAncor {
    width: 344px;
    height: 31px;
    text-decoration: underline;
    letter-spacing: 0.13px;
    color: #0A73CD;
}