footer {
    background-color: #040406;
    color: #FFFFFF;
    height: auto;
    margin-top: 50px;
}

.efo-footer-nav>ul {
    margin-top: 36px;
}

.efo-footer-nav ul:nth-child(2) {
    margin-top: -36px;
}

.efo-footer-nav ul:nth-child(3) {
    margin-top: -66px;
}

.efo-footer-nav ul:nth-child(4) {
    margin-top: -100px;
}

.efo-footer-nav ul>li,
.efo-footer-nav ul>p {
    list-style: none;
}

.efo-footer-nav li>p {
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
}

.efo-footer-nav li>a {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-icons {
    align-items: center;
    display: flex;
    gap: 10px;
}

.footer-icons>a {
    background-color: #FFFFFF;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: inline-flex;
}

.footer-icons>a>img {
    width: auto;
}

.facebook-icon {
    padding: 10px 14px;
}

.instagram-icon {
    padding: 8px;
}

.x-icon {
    padding: 11px 9px 10px 10px;
}

.youtube-icon {
    padding: 11px 7px;
}

.ajor {
    border-radius: 10px;
    width: 154px;
    height: 103px;
    margin-top: 31px;
    margin-bottom: 79.43px;
}

.logo-mw-golab {
    display: flex;
    flex-direction: column;
}

.mw-logo {
    width: 133px;
    height: 23px;
    margin-bottom: 16.18px;
}

.golab-logo {
    width: 135px;
    height: 28px;
}

.caption {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}