main {
    max-width: 1490px;
}

.mobile-button {
    display: none;
}

.container-flex {
    display: flex;
}

.wrap-icons {
    position: absolute;
    left: 5vw;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 240px;
}

.wrap-icons>a {
    justify-content: center;
    width: 40px;
    height: 40px;
}

.desktop-ad>img {
    width: 728px;
    height: 90px;
}

h1 {
    width: 864px;
    height: 113px;
    text-align: left;
    font: normal normal bold 44px 'Poppins';
    letter-spacing: 0px;
    color: #101010;
    margin-left: 0;
}

.efo-last-section {
    margin-top: 71px;
}

.efo-last-section>h3 {
    font: normal normal bold 24px 'poppins_bold';
    margin-bottom: 20px;
}

.efo-last-section>button {
    background: #E9E9E9 0% 0% no-repeat padding-box;
    border-radius: 17px;
    height: 28px;
    text-align: left;
    font: normal normal normal 14px 'poppins_regular';
    letter-spacing: 0px;
    color: #101010;
    border: none;
}

.efo-last-section>button:nth-child(2) {
    width: 199px;
    padding-left: 12px;
    margin-right: 6px;
}

.efo-last-section>button:nth-child(3) {
    width: 103px;
    padding-left: 12px;
    margin-right: 6px;
}

.efo-last-section>button:nth-child(4) {
    width: 102px;
    padding-left: 12px;
    margin-right: 6px;
}

.efo-tag {
    margin-top: 38px;
    width: 436px;
    height: 133px;
    background: transparent linear-gradient(92deg, #268F94 0%, #335F95 37%, #7F498D 100%) 0% 0% no-repeat padding-box;
    border-radius: 12px;
    margin-left: 0;
    /*Verificar margens para alinhamento.*/
    color: #FFFFFF;
    text-align: left;
    font: normal normal normal 24px 'poppins_bold';
    letter-spacing: 0.58px;
}

.efo-tag>p {
    padding: 15px 24px;
}

.efo-tag>p>strong {
    color: #FFFFFF;
    text-decoration: underline;
}

.efo-tag>figure {
    position: relative;
    bottom: 40px;
    left: 400px;
}

.efo-tag-articles {
    display: flex;
    justify-content: space-between;
    width: 864px;
    margin: 22px auto 28px 0;
    /*Verificar margens para alinhamento.*/
}

.efo-tag-articles>article {
    width: 420px;
    height: 105px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 1px 2px 7px #ACACAC;
    margin-top: 52px;
}

.efo-tag-articles>article>p:nth-child(1) {
    color: #4F4F4F;
    font-size: 14px;
    margin: 12px 20px;
}

.efo-tag-articles>article>p:nth-child(2) {
    color: #2E2E2E;
    font-size: 18px;
    width: 356px;
    margin-top: 12px;
    margin-left: 20px;
}

.efo-tag-articles>article:nth-child(1)>p:nth-child(2) {
    margin-left: 44px;
}

.efo-tag-articles>article:nth-child(1) {
    text-align: right;
}

.efo-tag-articles>article:nth-child(2) {
    text-align: left;
}

.baseboard {
    width: 590px;
    margin: 0;
    /*Verificar margens para alinhamento.*/
}

h5 {
    color: #101010;
    font-size: 24px;
    font-family: 'poppins_bold';
    margin-top: 40px;
}

h5>span {
    color: #139933;
    font-size: 24px;
    font-family: 'poppins_bold';
}

.baseboard>div {
    display: flex;
    gap: 21px;
    margin-top: 24px;
}

.baseboard>div>article {
    width: 274px;
}

.baseboard>div>article>img {
    margin-bottom: 16px;
}

.baseboard>div>article>span {
    width: 274px;
    height: 25px;
    text-align: left;
    font: normal normal bold 18px 'poppins_bold';
    letter-spacing: 0px;
    color: #139933;
}

.baseboard>div>article>p {
    margin-top: 8px;
    width: 274px;
    height: 84px;
    text-align: left;
    font: normal normal normal 20px 'poppins_regular';
    letter-spacing: 0px;
}

 .mobile-container{
    display: none;
}