@media screen and (max-width:768px) {
    body {
        width: 360px;
    }

    nav {
        display: grid;
        grid-template-rows: auto auto;
        gap: 10px;
    }

    .header-button,
    nav>img {
        grid-row: 1;
    }

    .header-button {
        grid-column: 1;
        position: relative;
        top: -5px;
        right: 35px;
    }

    nav>img {
        grid-column: 2;
    }

    header>nav>img {
        width: 190px;
        height: 42px;
        display: grid;
        position: absolute;
        left: -330px;
        top: 15px;
    }

    .input-container {
        grid-row: 2;
        position: relative;
        right: 180px;
        top: 5px;
    }

    .input-container input {
        margin-right: 5px;
        width: 370px;
        height: 38px;
    }

    .input-container>input::placeholder {
        font-size: 12px;
    }

    .input-container>img {
        width: 18px;
        height: 18px;
        position: relative;
        transform: translateY(-50%);
        right: 17%;
        top: 12px;
    }

    nav:first-child {
        display: grid;
        grid-template-areas:
            "logo logo btn"
            "input input input";
    }

    .efo-articles {
        display: none;
    }

    header>.breadcrumb-navigation>ul {
        list-style: none;
        display: flex;
        width: 978px;
        height: 26px;
        padding: 25px;
        border-top: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
        margin-left: 0;
    }

    header>.breadcrumb-navigation>ul>li {
        padding: 14px;
    }

    li>a {
        font-size: 14px;
    }

    /* Artigo principal:*/

    .mobile-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 134px;
        height: 38px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 15px #0000001A;
        border: 1px solid #EFEFEF;
        border-radius: 31px;
        font-size: 12px;
        font-family: 'poppins_bold';
        padding-right: 20px;
    }


    .mobile-button>div {
        width: 28px;
        height: 28px;
        background: #139933 0% 0% no-repeat padding-box;
        border-radius: 31px;
        margin-right: 0.89px;
    }

    .mobile-button>div>img {
        width: 9px;
        height: 10px;
        margin: 8.53px 8.53px 9.16px 10.31px;
    }

    .wrap-icons {
        display: flex;
        flex-direction: row;
        position: fixed;
        /* Verificar em telas maiores ou no projeto final como fixar a barra em geral.*/
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 62px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px -5px 15px #0000001A;
        align-items: center;
        padding: 10px;
        z-index: 100;
    }

    .button-play {
        display: none;
    }

    .mobile-ad {
        display: flex;
        width: 320px;
        height: 100px;
        margin: 16px 10px 24px;
    }

    .container-flex {
        display: flex;
        flex-direction: column;
    }

    .efo-container {
        width: 360px;
    }

    figcaption {
        width: 320px;
        height: 33px;
        margin-left: 0;
    }

    .desktop-ad {
        display: none;
    }



    h1 {
        width: 320px;
        height: 151px;
        text-align: left;
        font: normal normal bold 30px 'poppins_bold';
        letter-spacing: 0px;
        color: #101010;
    }

    h2 {
        width: 320px;
        height: 49px;
        margin-left: 0;
        margin-top: 38px;
        font-size: 18px;
    }

    .publication-date {
        width: 320px;
        font-size: 12px;
        letter-spacing: 0px;
        margin-left: 0;
        border-bottom: none;
    }

    .efo-container>.major-text {
        width: 320px;
        height: 330px;
        text-align: left;
        font: normal normal normal 16px'poppins_regular';
        letter-spacing: 0.1px;
    }

    .major-text:nth-of-type(5) {
        width: 320px;
        height: 229px;
    }

    .efo-article-figure>img {
        width: 320px;
        height: 244px;
    }

    .wrap-blockquote {
        width: 320px;
        height: 158px;
        margin-left: 0;
    }

    .quotation-mark01 {
        position: relative;
        left: 140px;
        top: 10px;
    }

    .quotation-mark02 {
        display: none;
    }

    .wrap-blockquote>blockquote {
        margin-top: 12px;
    }

    .wrap-blockquote>blockquote>h4 {
        width: 288px;
        height: 76px;
        text-align: center;
        font-size: 20px;
    }

    .wrap-blockquote>blockquote>cite {
        width: 254px;
        height: 17px;
        text-align: center;
        font-size: 12px;
    }

    mark>h4 {
        width: 320px;
        height: 252px;
        text-align: left;
        font: normal normal bold 18px 'poppins_bold';
        color: #FFFFFF;
        padding: 20px;
        margin-left: 0;
    }

    .mobile-ad02 {
        display: block;
        width: 300px;
        height: 250px;
        margin-left: 0;
    }

    iframe {
        width: 320px;
        height: 180px;
        border-radius: 8px;
    }


    form {
        width: 320px;
        height: 269px;
        margin-left: 0;
    }

    form>h4 {
        width: 288px;
        height: 59px;
        font-size: 22px;
    }

    label {
        font-size: 14px;
    }

    form>button {
        width: 288px;
        height: 38px;
        font-size: 14px;
    }

    aside {
        display: none;
    }

    .efo-last-section>button:nth-child(2) {
        margin-bottom: 6px;
    }

    .efo-tag {
        width: 300px;
        height: 114px;
        margin: auto;
        margin-top: 30px;
        font-size: 20px;
    }

    .efo-tag>p {
        padding: 13px;
    }

    .efo-tag>figure {
        position: relative;
        bottom: 94px;
        left: 270px;
    }

    .efo-tag>figure>img {
        width: 49px;
        height: 42px;
    }

    .efo-tag-articles {
        display: flex;
        flex-direction: column;
        position: relative;
        left: -250px;
        margin: 0;
    }

    .efo-tag-articles>article {
        width: 320px;
        height: 101px;
        margin-top: 30px;
    }

    .efo-tag-articles>article>p:nth-child(2) {
        font-size: 15px;
        width: 254px;
        height: 45px;
    }

    .baseboard>h5,
    span {
        width: 168px;
        height: 33px;
        margin-left: 0;
        margin-bottom: 60px;
    }

    .baseboard>div {
        /*Revisar alinhamento*/
        display: flex;
        flex-direction: column;
        margin-right: 300px;
    }

    .baseboard>div>article>img:nth-child(1) {
        width: 320px;
        height: 190px;
        /* Revisar Imagens no XD */
        background: transparent url('img/Retângulo 57.png') 0% 0% no-repeat padding-box;
        border-radius: 12px;
    }

    .mobile-title-container {
        width: 221px;
        margin: 32px auto 16px 0;
        text-align: left;
    }

    .mobile-container {
        display: flex;
    }

    .mobile-container-articles {
        display: flex;
        flex-direction: column;
    }

    .mobile-container-articles>article {
        display: flex;
        margin-top: 16px;
        gap: 20px;
    }

    .mobile-container-articles>article>img {
        width: 130px;
        height: 130px;
    }

    .mobile-container-articles>article>div>p {
        margin-top: 8px;
    }

    footer {
        width: 100vw;
    }

    .efo-footer-nav>ul {
        display: flex;
        flex-flow: column wrap;
    }

    /*Estudar como aplicar o footer menu na versão mobile.*/
    .efo-footer-nav>ul>li:not(.footer-categories) {
        display: none;
    }

}