@media screen and (max-width:768px) {
    body {
        width: 360px;
    }

    nav {
        display: grid;
        grid-template-rows: auto auto;
        gap: 10px;
    }

    .buttonBurger,
    nav>img {
        grid-row: 1;
    }

    .buttonBurger {
        grid-column: 1;
        position: relative;
        top: -5px;
        right: 35px;
    }

    nav>img {
        grid-column: 2;
    }

    header>nav>img {
        width: 190px;
        height: 42px;
        display: grid;
        position: absolute;
        left: -330px;
        top: 15px;
    }

    .inputContainer {
        grid-row: 2;
        position: relative;
        right: 180px;
        top: 5px;
    }

    .inputContainer input {
        margin-right: 5px;
        width: 370px;
        height: 38px;
    }

    .inputContainer>input::placeholder {
        font-size: 12px;
    }

    .inputContainer>img {
        width: 18px;
        height: 18px;
        position: relative;
        transform: translateY(-50%);
        right: 17%;
        top: 12px;
    }

    nav:first-child {
        display: grid;
        grid-template-areas:
            "logo logo btn"
            "input input input";
    }

    .slider {
        display: none;
    }

    header>nav>ul {
        list-style: none;
        display: flex;
        width: 978px;
        height: 26px;
        padding: 25px;
        border-top: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;
        margin-left: 0;
    }

    header>nav>ul>li {
        padding: 14px;
    }

    li>a {
        font-size: 14px;
    }

    /* Artigo principal:*/

    .leftIcons {
        display: flex;
        flex-direction: row;
        gap: 8px;
        position: absolute;
        bottom: 37px;
        left: 210px;
    }

    .flexArticle {
        display: flex;
        flex-direction: column;
    }

    .mainArticle {
        width: 360px;
    }

    figcaption {
        width: 320px;
        height: 33px;
        margin-left: 0;
    }

    .firstBanner {
        width: 320px;
        height: 100px;
    }



    h1 {
        width: 320px;
        height: 151px;
        text-align: left;
        font: normal normal bold 30px 'poppins_bold';
        letter-spacing: 0px;
        color: #101010;
    }

    h2 {
        width: 320px;
        height: 49px;
        margin-left: 0;
    }

    .normalParagraph {
        height: 387px;
        text-align: left;
        font: normal normal normal 16px'poppins_regular';
        letter-spacing: 0.1px;
    }

    .mainImgArticle>img {
        width: 320px;
        height: 244px;
    }
}